
.pipeLineDiv.header {
    z-index: 2;
    height: 30px;
    width: 100px;
    background-color: lightblue;
    border: 1px solid black;
    border-bottom: none;
}

.pipeLineDiv.body {
    z-index: 2;
    height: 100px;
    width: 100px;
    background-color: lightcyan;
    border: 1px solid black;
    border-top: none;
}