.pipeLineDiv {
    z-index: 2;
}

.pipeLineDiv.header {
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    font-size: 11px;
    background-color: lightblue;
    border: 1px solid black;
    border-bottom: 1px solid gray;
}

.pipeLineDiv.body {
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    border: 1px solid black;
    border-top: none;
}

.pipeLineDiv.drag {
    opacity: .25;
}