.pipeLineDiv {
    z-index: 2;
}

.pipeLineDiv.header {
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    font-size: 10px;
    background-color: lightblue;
    border: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 5px;
}

.pipeLineDiv.body {
    float: left;
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    border: 1px solid gray;
    border-top: none;
}

.pipeLineDiv.body .left {
    float: left;
    width: 50%;
    height: 100px;
    background-color: green;
}

.pipeLineDiv.body .right {
    float: left;
    width: 50%;
    height: 100px;
    background-color: red;
}

.pipeLineDiv.body .dot {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 180px;
    margin: 5px;
}

.pipeLineDiv.drag {
    opacity: .25;
}